---
import SectionContainer from "@componnents/SectionContainer.astro";
---

<SectionContainer
  class="flex flex-col p-4 w-full xl:py-[3.25rem] justify-center items-center"
>
  <p class="text-center text-xl w-full max-w-[45.75rem] mb-4">
    En Xkale nos especializamos en crear experiencias que impacten tanto a tus
    clientes como a tus empleados, minimizando los riesgos digitales de tu
    empresa.
  </p>

  <p class="text-center text-4xl w-full max-w-[45.75rem] text-xkale">
    Nuestra pasión es convertir tus objetivos en realidad a través de
    <strong>conocimientos, innovación y tecnología.</strong>
  </p>
  <!-- <Btn text="conversemos" href="/contact"/> -->
</SectionContainer>
 zx