---
import Btn from "@componnents/Btn.astro";
import SectionContainer from "@componnents/SectionContainer.astro";
import { Icon } from "astro-icon/components";

---

<SectionContainer class="xl:pb-[3.25rem] xl:h-[85vh]">
  <div
    class="grid grid-cols-1 grid-rows-2 gap-10 xl:grid-cols-2 xl:grid-rows-1 xl:gap-x-4 h-full">
    <div>
      <div class="bg-cx py-5 px-4">
        <h2
          class="text-balance text-white block leading-[1.3em] text-xl uppercase font-bold">
          voz y analítica del cliente
        </h2>
      </div>
      <div
        transition:name="crnm"
        transition:animate="fade"
        class="bg-[url('/image/cx/voz-y-analitica-del-cliente.webp')] bg-center bg-cover bg-no-repeat h-full overflow-hidden group">
        <a
          href="#"
          class="w-6/12 h-full bg-cx/50 flex flex-col justify-center items-center text-white text-xl -translate-x-full group-hover:translate-x-0 duration-500">
          <Icon name="message" class="size-14" />
        </a>
      </div>
    </div>
    <div class="flex flex-col justify-center py-4 xl:px-28">
      <h2 class="text-pretty text-4xl text-xkale my-4 py-2 block">
        En <strong>XKale</strong> entendemos mejor a tu <strong>cliente.</strong>
      </h2>
      <p class="text-pretty text-xl my-4 py-2">
        A través de herramientas de Voz del Cliente y analítica de
        interacciones, lo escuchamos, recopilamos sus conversaciones y cuentas
        en los diferentes canales, para luego procesarlas y generar tableros de
        control unificados.
      </p>
      <p class="text-pretty text-xl my-4 py-2">
        Tomamos las mejores decisiones basándonos en la voz de tu cliente.
      </p>
      <Btn
        href="/experiencia-del-cliente#form"
        class="inline self-start shadow-lg"
        text="Agenda con un consultor"
      />
    </div>
  </div>
</SectionContainer>
