---

---

<section class="xl:px-[5.75rem] xl:py-5">
  <h1 class="text-xkale text-5xl block my-[0.67rem] font-bold">
    Políticas de cookies
  </h1>
  <p class="my-4 py-2 block text-xl">
    <strong class="font-bold">Xkale</strong>, informa acerca del uso de las
    cookies en su página web: <a href="https://www.xkale.com">www.xkale.com</a>.
  </p>
</section>
<section class="xl:px-[5.75rem] xl:py-5">
  <h2 class="font-bold uppercase my-[0.83rem] text-3xl text-xkale">
    ¿Que son las cookies?
  </h2>
  <p class="my-4 py-2 block text-xl">
    Las cookies son archivos que se pueden descargar en su equipo a través de
    los navegadores de las paginas web. Son herramientas que tienen un panel
    especial para la prestación de nuestros servicios de la sociedad de la
    información. Entre otros, permiten a una pagina web almacenar y recuperar
    información sobre los hábitos de navegación de un usuario o de su equipo y,
    dependiendo de la información obtenida, se pueden utilizar para reconocer al
    usuario u mejorar el servicio ofrecido.
  </p>
</section>
<section class="xl:px-[5.75rem] xl:py-5">
  <h2 class="font-bold uppercase my-[0.83rem] text-3xl text-xkale">
    Uso de las cookies
  </h2>
  <p class="my-4 py-2 block text-xl">
    Xkale utiliza cookies para entender las necesidades de los usuarios o
    visitantes del sitio web. La información obtenida es utilizada para la
    creación de perfiles anónimos, para cualquier propósito incluyendo la
    fabricación y comercialización de productos; y no se combinara con datos
    personales que permitan identificar a una persona derminada.
  </p>
</section>
<section class="xl:px-[5.75rem] xl:py-5">
  <h2 class="font-bold uppercase my-[0.83rem] text-3xl text-xkale">
    desactivación y eliminación de las cookies
  </h2>
  <p class="my-4 py-2 block text-xl">
    El visitante del sitio web prodra desactivar total o parciamente el uso de
    las cookies, al hacerlo algunos de los servicios, secciones o imagenes del
    sitio podrían dejar de estar operativos. la forma de deshabilitar las
    cookies es diferente para cada navegador , pero normalmente puede hacerse
    desde el menu herramientas y opciones.
  </p>
</section>
<section class="xl:px-[5.75rem] xl:py-5">
  <h2 class="font-bold uppercase my-[0.83rem] text-3xl text-xkale">
    cookies que utiliza el sitio
  </h2>
  <p class="my-4 py-2 block text-xl">
    para una mejor navegación y aprovechamiento de las prestaciones del sitio
    por parte el usuario, se utiliza las siguientes cookies:
  </p>
  <ul class="list-disc m-4 pl-10 list-outside static">
    <li class="list-item list-disc">
      <p class="my-4 py-2 block text-xl">Cookies de sesión y persistentes.</p>
    </li>
    <li class="list-item list-disc">
      <p class="my-4 py-2 block text-xl">
        Cookies de selección / preferencias.
      </p>
    </li>
    <li class="list-item list-disc">
      <p class="my-4 py-2 block text-xl">Cookies propias y de terceros</p>
    </li>
    <li class="list-item list-disc">
      <p class="my-4 py-2 block text-xl">Cookies de personalización</p>
    </li>
    <li class="list-item list-disc">
      <p class="my-4 py-2 block text-xl">Cookies de análisis</p>
    </li>
  </ul>
</section>
