---
import Btn from "@componnents/Btn.astro";
import SectionContainer from "@componnents/SectionContainer.astro";


---

<SectionContainer
  class="p-4 xl:py-[3.25rem] flex flex-col justify-center items-center">
  <div class="w-[18.75rem] mb-6">
    <p class="text-pretty text-center text-4xl text-xkale">
      Somos <strong class="font-bold"
        >Innovadores Conocedores Experimentados Consultores</strong
      >
    </p>
  </div>
  <div class="w-full max-w-[36.875rem] mb-8">
    <p class="text-pretty text-center text-xl mb-6">
      Sobre todo, somos un grupo de profesionales que llevamos la transformación
      digital como una verdadera pasión al servicio de tu empresa.
    </p>

    <p class="text-pretty text-center text-xl">
      Si buscas aplicar a alguna de nuestras áreas consultivas, técnicas,
      comerciales o administrativas envíanos tu CV.
    </p>
  </div>
  <Btn
    href="mailto:cbaquero@xkale.com"
    target="_blank"
    rel="noopener noreferrer"
    text="quiero aplicar"
  />
</SectionContainer>
