---
import SectionContainer from "@componnents/SectionContainer.astro";

const CS = [
  {
    title: "Estrategias de Ciberseguridad",
    url: "/estrategias-de-ciberseguridad",
    id: "ciber-1",
  },
  {
    title: "Gestión de identidades",
    url: "/gestion-de-identidades",
    id: "ciber-2",
  },
  {
    title: "Seguridad por capas",
    url: "/seguridad-por-capas",
    id: "ciber-3",
  },
];
---

<SectionContainer class="h-[160vh] xl:h-[80vh]">
  <div
    class="grid grid-cols-[repeat(_auto-fit,_minmax(300px,_1fr)_)] gap-[20px] w-full h-full">
    {
      CS.map(({ title, url, id }) => (
        <article class="full h-full">
          <div class="bg-cs w-full p-4">
            <h3 class="text-white text-pretty text-xl uppercase font-bold">
              {title}
            </h3>
          </div>
          <div
            class={`w-full h-full bg-[url('/image/cs/${id}.webp')] bg-center bg-cover bg-no-repeat overflow-hidden group`}>
            <a
              href={url}
              class="w-full h-full bg-cs/80 flex flex-col justify-center items-center text-white uppercase -translate-x-[100%] group-hover:translate-x-0 transition-all duration-300">
              leer más
            </a>
          </div>
        </article>
      ))
    }
  </div>
</SectionContainer>
