---
import SectionContainer from "../../components/SectionContainer.astro";
---

<SectionContainer class="px-4 h-[65vh] xl:h-[85vh]">
  <div
    class="w-full h-full bg-[url('/image/NOSOTROS-scaled.webp')] bg-top bg-cover bg-no-repeat">
  </div>
</SectionContainer>
