---
import Btn from "@componnents/Btn.astro";
import SectionContainer from "@componnents/SectionContainer.astro";


---

<SectionContainer
  class="flex flex-col h-[55vh] p-4 xl:py-[3.25rem] justify-center items-center">
  <div class="w-full xl:w-[36.875rem] mb-8">
    <p class="text-pretty text-center text-4xl text-xkale mb-6">
      Transformamos la experiencia de tu <strong>cliente y empleado</strong>,
      
    </p>
    <p class="text-pretty text-center text-xl">
      Orquestando la mediante servicios consultivos, soluciones de Contact Center Omnicanal, CRM especializado en
      CX y analítica de voz.
    </p>
  </div>
  <Btn href="/experiencia-del-cliente#form" text="agenda con un consultor" />
</SectionContainer>
