---
import Btn from "../Btn.astro";
import SectionContainer from "../SectionContainer.astro";
---

<SectionContainer
  class="p-4 flex flex-col h-[55vh] justify-center items-center xl:py-[3.25rem]">
  <div class="w-full max-w-[36.875rem] mb-8">
    <p class="text-pretty text-center text-xl mb-6">
      Protegemos a tu empresa de contra ciberataques para que puedas operar en
      confianza
    </p>

    <p class="text-pretty text-center text-4xl text-xkale">
      ¡Tu <strong class="font-bold">seguridad</strong> es nuestra prioridad!
    </p>
  </div>

  <Btn href="/ciberseguridad#form" text="agenda con un consultor" />
</SectionContainer>
