---
import { Icon } from "astro-icon/components";
import Btn from "../../Btn.astro";
import SectionContainer from "../../SectionContainer.astro";
---

<SectionContainer class="xl:pb-16 xl:h-[85vh]">
  <div class="grid xl:grid-cols-2 xl:grid-rows-1 xl:gap-x-4 h-full">
    <div>
      <div class="bg-cs py-5 px-4">
        <h2
          class="text-balance text-white block leading-[1.3em] text-xl uppercase font-bold">
          seguridad por capas
        </h2>
      </div>
      <div
        class="bg-[url('/image/cs/ciber-3.webp')] bg-center bg-cover bg-no-repeat h-full overflow-hidden group">
        <a
          href="/contacto"
          class="w-6/12 h-full bg-cs/50 flex flex-col justify-center items-center text-white text-xl -translate-x-full group-hover:translate-x-0 duration-500">
          <Icon name="message" class="size-14" />
        </a>
      </div>
    </div>
    <div class="flex flex-col justify-center px-28">
      <p class="text-pretty text-4xl text-xkale my-4 py-2 block">
        Implementamos una defensa integral en capas para tu empresa, combinando
        tecnología avanzadas y <strong class="font-bold"
          >mejores prácticas de seguridad</strong
        >
      </p>
      <p class="text-pretty text-xl my-4 py-2">
        Creamos una primera línea de defensa que protege de manera integral los
        activos digitales de tu organización.
      </p>
      <p class="text-pretty text-xl my-4 py-2">
        Extendemos la protección de tus operaciones donde quiera que estas se
        ejecuten, en premisa, en la nube o en entornos industriales.
      </p>
      <Btn
        href="/ciberseguridad#form"
        class="inline self-start shadow-lg"
        text="Agenda con un consultor"
      />
    </div>
  </div>
</SectionContainer>
