---
import CxConsulting from "../body/experiencia-del-cliente/cx-landing/cx-consulting.astro";
import Analytics from "../components/Analytics.astro";
import BaseHead from "../components/BaseHead.astro";

import Footer from "../components/Footer.astro";
import Headding from "../components/Headding.astro";
import Header from "../components/Header.astro";
---



<!DOCTYPE html>
<html lang="es">
<head>
  <BaseHead title="Consultoria CX" description="Conoce nuestra experiencia de Consultoria CX"/>
</head>
<body>
  <Analytics/>
  <Header/>
  <main>
    <Headding text="Consultoria CX"/>
    <CxConsulting/>
  </main>
  <Footer/>
</body>
</html>