---
import Bento from "@componnents/body/index/sections/Bento.astro";
import BlogSection from "@componnents/body/index/sections/BlogSection.astro";
import SectionDescription from "@componnents/body/index/sections/SectionDescription.astro";
import Base from "@layouts/Base.astro";
---

<!-- <!DOCTYPE html>
<html lang="es">
  <head>
    <BaseHead title="Xkale"
  description="En Xkale nos enfocamos en construir experiencias memorables para tus clientes y empleados, y reducimos al mínimo los riesgos digitales de tu empresa para maximizar tu resiliencia. ¡Confía en nosotros para transformar la experiencia de tu empresa y maximizar su resiliencia en el mundo digital" />
  </head>
  <body>
    <Analytics />
    <Header/> 
    <main>
    </main>
    <Footer />
  </body>
  </html> -->
<Base
  title="Xkale"
  description="En Xkale nos enfocamos en construir experiencias memorables para tus clientes y empleados, y reducimos al mínimo los riesgos digitales de tu empresa para maximizar tu resiliencia. ¡Confía en nosotros para transformar la experiencia de tu empresa y maximizar su resiliencia en el mundo digital"
>
  <Bento />
  <SectionDescription />
  <BlogSection />
</Base>
