---
import Bento from "../body/index/sections/Bento.astro";
import BlogSection from "../body/index/sections/BlogSection.astro";
import SectionDescription from "../body/index/sections/SectionDescription.astro";
import Analytics from "../components/Analytics.astro";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

---

<!DOCTYPE html>
<html lang="es">
  <head>
    <BaseHead title="Xkale"
  description="En Xkale nos enfocamos en construir experiencias memorables para tus clientes y empleados, y reducimos al mínimo los riesgos digitales de tu empresa para maximizar tu resiliencia. ¡Confía en nosotros para transformar la experiencia de tu empresa y maximizar su resiliencia en el mundo digital" />
  </head>
  <body>
    <Analytics />
    <Header/> 
    <main>
      <Bento />
      <SectionDescription />
      <BlogSection />
    </main>
    <Footer />
  </body>
</html>