---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Headding from '../components/Headding.astro';
import Analytics from '../components/Analytics.astro';
import Footer from '../components/Footer.astro';
import PoliticasDeCookies from '../body/politicas-de-privacidad/politicas-de-cookies.astro';
---

<!DOCTYPE html>
<html lang="es">
<head>
  <BaseHead title="Políticas de privacidad" description="Conoce nuestra experiencia de Políticas de privacidad"/>
</head>
<body>
  <Analytics/>
  <Header/>
  <main>
    <Headding text="Políticas de privacidad"/>
    <PoliticasDeCookies />
  </main>
  <Footer />
</body>
</html>