---
import SectionContainer from "../../../components/SectionContainer.astro";
---

<SectionContainer
  class="p-4 h-[45vh] xl:h-[45vh] xl:py-0 xl:px-[5.75rem] relative overflow-hidden">
  <a href="/blog" class="w-full h-full" aria-label="Ir al blog">
    <div
      class="h-full w-ful bg-[url('/image/banner-blog-index.webp')] bg-no-repeat bg-cover bg-center flex flex-col justify-center items-center">
      <h2 class="text-white uppercase text-4xl font-bold">Blog</h2>
    </div>
  </a>
</SectionContainer>
