---
import SectionContainer from "../SectionContainer.astro";
import BentoItem from "../BentoItem.astro";
---

<SectionContainer class="h-[250vh] xl:h-[95vh]">
  <div
    class="w-full h-full gap-4 grid grid-cols-1 xl:grid-cols-12 xl:grid-rows-8">
    <BentoItem
      class="xl:col-[1/8] xl:row-[1/9] bg-[url('/image/servicios/CUSTOMER-EXPERIENCE-scaled.webp')] bg-cover bg-no-repeat bg-center">
      <a
        class="w-full h-full bg-cx/50 items-center justify-center flex -translate-x-full group-hover:translate-x-0 duration-300 uppercase text-white font-bold text-xl"
        href="/experiencia-del-cliente">Experiencia del cliente</a
      >
    </BentoItem>

    <BentoItem
      class="xl:col-[8/13] xl:row-[1/5] bg-[url('/image/servicios/CIBERSEGURIDAD-scaled.webp')] bg-cover bg-no-repeat bg-center">
      <a
        class="w-full h-full bg-cs/50 items-center justify-center flex -translate-x-full group-hover:translate-x-0 duration-300 uppercase text-white font-bold text-xl"
        href="/ciberseguridad">ciberseguridad</a
      >
    </BentoItem>

    <BentoItem
      class="xl:col-[8/13] xl:row-[5/9] bg-[url('/image/servicios/NOSOTROS-scaled.webp')] bg-cover bg-no-repeat bg-center">
      <a
        class="w-full h-full bg-xkale/50 items-center justify-center flex -translate-x-full group-hover:translate-x-0 duration-300 uppercase text-white font-bold text-xl"
        href="/nosotros">nosotros</a
      >
    </BentoItem>
  </div>
</SectionContainer>
