---
import SectionContainer from "../SectionContainer.astro";
import Btn from "../Btn.astro";
---

<SectionContainer class="flex flex-col p-4 w-full xl:py-[3.25rem] justify-center items-center">
  <p class="text-center text-xl w-full max-w-[45.75rem]">En <strong>XKale</strong> nos enfocamos en construir experiencias para tus clientes y empleados, y reducir al mínimo los riesgos digitales de tu empresa.</p>

  <p class="text-center text-4xl w-full max-w-[45.75rem] text-xkale">Nuestra pasión es apoyar a transformar sus objetivos en realidad, mediante <strong>conocimientos, innovación y tecnologías.</strong></p>
  <Btn text="conversemos" href="/contact"/>
</SectionContainer>