---
import { Icon } from "astro-icon/components";
import FOOTERDATA, { CONTACTO } from "../data/FOOTERDATA";
import Link from "./Link.astro";
---

<footer>
  <section class="pasion">
    <h2 class="pasion-title">Pasión por transformar</h2>
  </section>
  <div class="separator"></div>
</footer>
<footer class="footer">
  <section>
    <Icon name="logo" class="icon" />
    <nav class="links-nav">
      {FOOTERDATA.map((item) => <Link text={item.name} href={item.path} />)}
    </nav>
  </section>
  <section>
    <h3 class="text-2xl text-xkale font-bold">Contacto</h3>
    <ul>
      {
        CONTACTO.map((item) => (
          <li class="flex justify-between">
            <p>{item.name}</p>
            <p>{item.tel}</p>
          </li>
        ))
      }
    </ul>
    <p>info@xkale.com | ventas@xkale.com</p>
  </section>
  <section>
    <nav class="flex gap-x-4">
      <Link
        class="text-3xl hover:text-xkale"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.linkedin.com/company/hightelecom/"
        icon={{ name: "linkedin", side: "left" }}
      />
      <Link
        class="text-3xl hover:text-xkale"
        href="https://www.youtube.com/@xkale_"
        target="_blank"
        rel="noopener noreferrer"
        icon={{ name: "youtube", side: "left" }}
      />
      <Link
        class="text-3xl hover:text-xkale"
        href="https://www.instagram.com/xkaletm/"
        target="_blank"
        rel="noopener noreferrer"
        icon={{ name: "instagram", side: "left" }}
      />
    </nav>
  </section>
</footer>
<footer class="flex justify-center items-center bg-black text-white py-4">
  <small>
    Copyright &copy; <span id="copyright"></span> | todos los derechos reservados
    LeMarket B2B</small
  >
</footer>

<style lang="scss">
  .pasion {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (1440px <= width < 1920px) {
      padding-inline: 7.5rem;
    }
    &-title {
      color: #67d42f;
      text-transform: uppercase;
      font-size: 1.5rem;
    }
  }
  .separator {
    background-image: url("/image/banner-footer.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 5rem;
  }
  .footer {
    background: #000;
    color: #fff;
    padding: 1rem;
    @media (1440px <= width < 1920px) {
      display: grid;
      grid-template-columns: repeat(3, 300px);
      column-gap: 3.5rem;
      padding-inline: 7.5rem;
      padding-block: 3.5rem;
    }
    .icon {
      font-size: 8.75rem;
      color: rgb(103, 212, 47);
    }
    .links-nav {
      margin-block-start: 2rem;
      display: flex;
      flex-flow: column;
      gap: 0.5rem;
    }
  }
</style>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
