---
interface Props {
  class?: string;
  text: string;
}

const { text } = Astro.props;
---

<div
  class={`${Astro.props.class} px-4 xl:px-[7.5rem] w-full h-full xl:py-3 bg-black`}>
  <h1 class="text-xkale text-4xl">{text}</h1>
</div>
