---
import Link from "./Link.astro";

const { prevUrl, nextUrl, length, currentPage, firstUrl } = Astro.props;
const paginationList = Array.from({ length }, (_, i) => i + 1);
---

<nav aria-label="Blog pages" class="flex flex-row justify-center items-center gap-2">
  {
    prevUrl && (
      <Link
        class="items-center gap-x-2 bg-xkale inline-flex text-white px-4 py-2 text-xl rounded-md hover:scale-110 hover:duration-[0.5s]"
        text="Anterior"
        href={prevUrl}
        icon={{ name: "chevron-left", side: "left" }}
        data-navLink
      />
    )
  }

      <ol class="flex justify-center items-center gap-2">
        {
          paginationList?.map((num) => (
            <li>
              <a
                href={`${firstUrl}${num == 1 ? "" : "" + num}`}
                class={`block h-8 w-8 rounded border text-center leading-8 text-zinc-900 dark:text-white ${
                  currentPage == num
                    ? "border-xkale bg-xkale !text-white"
                    : "!text-xkale"
                }`}>
                {num}
              </a>
            </li>
          ))
        }
      </ol>

  {
    nextUrl && (
      <Link
        class=" items-center gap-x-2 bg-xkale inline-flex text-white px-4 py-2 text-xl rounded-md hover:scale-110 hover:duration-[0.5s]"
        text="Siguiente"
        href={nextUrl}
        icon={{ name: "chevron-right", side: "right" }}
        data-navLink
      />
    )
  }
</nav>
