<aside>
  <form>
    <label for="search">
      <span>Escribe el artículo que deseas buscar</span>
      <input type="search" id="search" name="search" placeholder="Buscar..." required min="2" max="24"/>
    </label>
  </form>
</aside>

<script>
  import DOMpurify from 'dompurify'
  const form = document.querySelector('form');
  form?.addEventListener('submit', (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    const searchTerm = DOMpurify.sanitize(formData.get('search')?.toString());
    if (!searchTerm || searchTerm.length === 0) return
    const url = new URL("/search", window.location.origin);
    url.searchParams.set('q', searchTerm);
    window.location.assign(url.toString());
  })
</script>