---
import { Icon } from "astro-icon/components";

const {urlName} = Astro.props;
---

<a
  href={`https://www.facebook.com/sharer/sharer.php?u=https%3A//xkale.com/posts/${urlName}`}
  target="_blank">
  <Icon name="facebook" class="text-xl hover:text-xkale" />
</a>
