---
import Link from "../Link.astro";
import SectionContainer from "../SectionContainer.astro";
---

<SectionContainer class="h-[55vh] flex flex-col justify-center items-center">
  <div
    class="absolute top-0 left-0 w-full h-full bg-[url('/image/1.5.webp')] bg-center bg-cover bg-no-repeat">
  </div>
  <h1 class="my-[0.67em] block isolate font-bold text-4xl text-white">
    Bienvenidos a la transformación digital
  </h1>
  <Link
    class="bg-xkale rounded-lg text-white px-2 py-1 text-xl shadow-xl"
    text="Leer blog"
    href="https://xkale.com/blog/orquestacion-de-canales-impulsada-por-ia-transformando-contact-centers-en-la-banca/"
  />
</SectionContainer>
