---
import Analytics from "@componnents/Analytics.astro";
import Footer from "@componnents/Footer.astro";
import Header from "@componnents/Header.astro";
import Seo from "@componnents/Seo.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <Seo title={title} description={description} />
  </head>
  <body>
    <Analytics />
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>