---
import { Icon } from "astro-icon/components";
import Headding from "../components/Headding.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout >
  <Headding text="Blog" />
  <!-- <header
    class="bg-escudo flex flex-col xl:h-[70vh] xl:px-[7.5rem] xl:py-[3.25rem]">
    <div class="flex flex-col items-center">
      <div class="w-[1000px]">
        <h1 class="block text-5xl mb-[0.67em] font-bold isolate">
          {frontmatter.title}
        </h1>
        <div class="flex gap-x-20">
          <p class="font-bold text-xl my-[1em]">{date}</p>
          <p class="font-bold text-xl my-[1em]">{author}</p>
        </div>
      </div>
    </div>
    <Icon name="T_N" class="text-[150px] text-white" />
  </header> -->
  <SectionContainer class="px-4 xl:py-[3.25rem]">
    <div class="flex flex-col xl:flex-row gap-x-4 ">
      <div
        class="xl:w-[80%] max-w-none prose prose-a:no-underline  prose-p:text-xl prose-h1:font-bold prose-h1:text-balance prose-h1:text-xkale prose-h1:text-5xl prose-h2:text-balance prose-h2:text-xkale prose-h2:text-3xl prose-h2:uppercase prose-h3:text-xkale prose-h3:text-2xl prose-h3:uppercase">
        <slot />
      </div>
      <aside class="xl:w-[20%] flex flex-col items-center" aria-label="Categorías">
        <h2 class="my-[0.83rem] text-3xl font-bold">Sugerencias</h2>
        <!-- <CategoyCloud showCount={true} /> -->
      </aside>
    </div>
  </SectionContainer>
</Layout>
