---
interface Layout {
  title: string;
  description?: string;
}

const { title, description } = Astro.props as Layout;
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import GoogleAnalitycs from "../data/googleAnalitycs.astro";
---

<html lang="en">
  <head>
    <GoogleAnalitycs />
    <meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
  <style is:global>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      border: 0;
      position: relative;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-wrap: balance;
    }
    p {
      text-wrap: pretty;
      margin-block-end: 1rem;
      margin-block-start: 1rem;
    }
  </style>
</html>
