---
import SectionContainer from "../../components/SectionContainer.astro";
---

<SectionContainer
  class="h-[250vh] grid grid-cols-1 grid-rows-4 xl:grid-cols-4 xl:grid-rows-1 xl:gap-x-4 xl:h-[88vh] xl:pb-[3.25rem] mb-4 overflow-hidden">
  <section class="full h-full">
    <div class="bg-cx w-full p-4">
      <h2 class="text-white text-pretty text-xl uppercase font-bold">
        Consultoría CX
      </h2>
    </div>
    <div
      class="w-full h-full bg-[url('/image/cx/CONSULTORIA-CX.webp')] bg-center bg-cover bg-no-repeat overflow-hidden group">
      <a
        href="/consultoria-cx"
        class="w-full h-full bg-cx/80 flex flex-col justify-center items-center text-white uppercase -translate-x-[100%] group-hover:translate-x-0 transition-all duration-300">
        leer más
      </a>
    </div>
  </section>
  <section class="full h-full">
    <div class="bg-cx w-full p-4">
      <h2 class="text-white text-pretty text-xl uppercase font-bold">
        crm de servicios
      </h2>
    </div>
    <div
      class="w-full h-full bg-[url('/image/cx/CRM.webp')] bg-center bg-cover bg-no-repeat overflow-hidden group">
      <a
        href="/crm-de-servicios"
        class="w-full h-full bg-cx/80 flex flex-col justify-center items-center text-white uppercase -translate-x-[100%] group-hover:translate-x-0 transition-all duration-300">
        leer más
      </a>
    </div>
  </section>
  <section class="full h-full">
    <div class="bg-cx w-full p-4">
      <h2 class="text-white text-pretty text-xl uppercase font-bold">
        contact center omnicanal
      </h2>
    </div>
    <div
      class="w-full h-full bg-[url('/image/cx/call-center.webp')] bg-center bg-cover bg-no-repeat overflow-hidden group">
      <a
        href="/contact-center-omnicanal"
        class="w-full h-full bg-cx/80 flex flex-col justify-center items-center text-white uppercase -translate-x-[100%] group-hover:translate-x-0 transition-all duration-300">
        leer más
      </a>
    </div>
  </section>
  <section class="full h-full">
    <div class="bg-cx w-full p-4">
      <h2 class="text-white text-pretty text-xl uppercase font-bold">
        voz y analítica del cliente
      </h2>
    </div>
    <div
      class="w-full h-full bg-[url('/image/cx/voz-y-analitica-del-cliente.webp')] bg-center bg-cover bg-no-repeat overflow-hidden group">
      <a
        href="/voz-y-analitica-del-cliente"
        class="w-full h-full bg-cx/80 flex flex-col justify-center items-center text-white uppercase -translate-x-[100%] group-hover:translate-x-0 transition-all duration-300">
        leer más
      </a>
    </div>
  </section>
</SectionContainer>
